.*/*
!.github/*
!.vscode/settings.json
.idea
Cargo.lock
target
os/src/link_app.S
os/src/linker.ld
os/last-*
os/Cargo.lock
os/.gdb_history
user/build
user/target/*
user/.idea/*
user/Cargo.lock
easy-fs/Cargo.lock
easy-fs/target/*
easy-fs-fuse/Cargo.lock
easy-fs-fuse/target/*
fat32-fs/Cargo.lock
fat32-fuse/Cargo.lock
tools/
pushall.sh
*.img
objdump/
tmp/
kernel-qemu
sbi-qemu
*.log
