.*/*
!.github/*
!.vscode/settings.json
.idea
target
**/Cargo.lock
kernel/src/link_app.S
kernel/src/linker.ld
kernel/last-*
kernel/Cargo.lock
kernel/.gdb_history
user/build
user/target/*
user/.idea/*
user/Cargo.lock
easy-fs/Cargo.lock
easy-fs/target/*
easy-fs-fuse/Cargo.lock
easy-fs-fuse/target/*
fat32-fs/Cargo.lock
fat32-fuse/Cargo.lock
tools/
pushall.sh
*.img
objdump/
tmp/
kernel-qemu
sbi-qemu
*.log
rootfs/